$color_1: #3E7671;
$color_2: #131725;
$color_3: #333333;
$color_4: #333333;
$color_6: #3E7671;
$background-color_1: #e2e2e2;
$background-color_2: #3E7671;
$background-color_3: transparent;

.headerTop{
    background-color: #282F3B;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    p{
        margin: 0;
    }
}
.headerMain {
    // background-color: #fff;
    // border-bottom: 1px solid #222222;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    position: fixed;
    transition: all ease-in-out .3s;
    &.sticky{
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px #00000020;
        .siteLogo{
            img{
                width: 80px;

            }
        }

    }

    .menu_wrap {
        display: flex;
        padding: 0;
        list-style: none;
        margin: 0;

        a {
            color: $color_4;
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 600;
            padding: 15px 12px;
            position: relative;
            letter-spacing: 0.2px;
            text-decoration: none;
            display: inline-block;
            &.headerBtn{
                border: 1px solid var(--primary);
                background: var(--primary);
                color: #fff;
                border-radius: 10px 0px 10px 0px;
                min-height: 56px;
                min-width: 160px;
                text-align: center;
                &:hover{
                  background: #fff;
                  color: var(--primary);
                  border-radius: 0px 10px 0px 10px;
                }
                &::after{
                    display: none;
                }
            }
        }

        >li {
            >a {
                color: $color_4;

                &::after {
                    content: "";
                    width: 0%;
                    height: 3px;
                    background-color: $background-color_2;
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    transition: all 0.3s ease;
                }

                &:hover {
                    color: $color_6;
                }

                .arrow_down {
                    position: absolute;
                    right: -10px;
                }
            }

            padding: 0;
            margin: 0 20px 0 0px;
            overflow: visible;
            position: relative;
            height: 100%;

            &:last-child {
                margin-right: 0px;
            }

            &:hover {
                >a {
                    &::after {
                        content: "";
                        width: 100%;
                    }

                    color: $color_6;
                }
            }

            >div {
                top: 100%;
                z-index: 999;
                left: 0px;
            }

            .sub_menu {
                li {
                    padding: 0;
                    height: auto;
                    margin-right: 0px;

                    a {
                        padding: 10px 15px;
                        display: block !important;
                        width: 100%;

                        &:hover {
                            color: $color_1;
                        }
                    }
                }

                li.current_page_item {
                    a {
                        color: $color_6 !important;
                    }
                }

                .sub_menu_categories {
                    li {
                        a {
                            .text_wrap {
                                float: right;
                                width: calc(100% - 35px);
                            }
                        }
                    }
                }
            }
        }

        >li.active {
            >a {
                &::after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: $background-color_2;
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 0;
                }

                color: $color_6;
            }
        }

        li {
            &:hover {
                background-color: $background-color_3;
            }

            &:focus {
                background-color: $background-color_3;
            }
        }

        .sub_menu {
            min-width: 200px;
            list-style: none;
            position: absolute;
            background: #fff;
            box-shadow: 0px 0px 10px 0px #00000033;
            padding: 10px;
            opacity: 0;

            >li {
                >a {
                    font-weight: 500;
                }
            }
        }

        >li.mega_menu {
            >div {
                width: 1024px;
                left: -100px;
            }
        }

        >li.current_page_item {
            >a {
                color: $color_6 !important;
            }
        }

        .sub_menu.hireDevelopersMenu {
            width: 600px;
            display: flex;
            flex-wrap: wrap;

            >li {
                width: calc(33.33% - 1px);

                &:nth-child(odd) {
                    border-right: 1px solid #ddd;
                }
            }
        }

        >li.mega_menu.hire_developers {
            >div {
                left: -200px;

                .sub_menu.hireDevelopersMenu {
                    width: 100%;
                    padding: 15px !important;

                    li {
                        a {
                            border: 0px;
                        }

                        border: 0px;
                    }
                }
            }
        }

        >li.company {
            .sub_menu {
                padding: 5px 0px;
            }
        }

        >li.portfolios {
            #menu-list-grow {
                padding: 5px 0px;
            }
        }

        >li.mega_menu_short {
            >div {
                width: 680px;
                left: -200px;
            }
        }
    }

    .siteLogo {
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        img {
            width: 100%;
            transition: all ease-in-out .3s;
        }
    }

    .header_toolbar {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1320px;
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        align-items: center;

        aside {
            display: flex;
            align-items: center;
        }

        li {
            a {
                &:hover {
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    li {
        >span {
            display: none;
        }
    }

    .mega_menu {
        .sub_menu {
            min-width: auto !important;
            width: 100%;
            padding: 10px !important;
            box-sizing: border-box;
        }

        .sub_menu_categories {
            padding: 15px;
            width: 33.33%;
            box-sizing: border-box;

            li {
                a {
                    padding: 0 0 7px 0 !important;
                    font-weight: 500;
                    border: 0 !important;
                }

                &:not(:first-child) {
                    a {
                        white-space: normal;
                        font-size: 16px;
                        display: flex !important;
                        display: -ms-flexbox;
                        align-items: center;
                    }
                }
            }
        }

        .sub_menu_categories_row {
            align-items: flex-start;
            white-space: normal;
            flex-wrap: wrap;
        }
    }


}