$color_1: #3E7671;
$color_2: #131725;
$color_3: #333333;
$color_4: #333333;
$color_6: #3E7671;
$background-color_1: #e2e2e2;
$background-color_2: #3E7671;
$background-color_3: transparent;

.headerTop{
    background-color: #282F3B;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    @media (max-width: 767.98px) {
        padding: 5px 15px;
    }
    p{
        margin: 0;
    }
}
.headerMain {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    position: fixed;
    transition: all ease-in-out .3s;
    &.sticky{
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px #00000020;
        .siteLogo{
            img{
                width: 80px;
            }
        }

    }
    .siteLogo {
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        img {
            width: 100%;
            transition: all ease-in-out .3s;
        }
    }
}