<div className="header_main">
    <header>
        <div className="header_toolbar container">
            <a className="siteLogo" href="/"> 
                <img alt="Visions" title="Visions" src=""></a>
            <div className="desktop_menus">
                <ul className="menu_wrap" role="menu">
                    <li className="" tabindex="0" role="menuitem">
                        <a title="About Us" href="/about-us">About Us</a>
                        <span className="jss205"></span>
                    </li>
                    <li className="mega_menu" tabindex="-1" role="menuitem">
                        <a aria-haspopup="true" title="Services" href="/services">Services <span className="material-icons arrow_down" aria-hidden="true">keyboard_arrow_down</span></a>
                        <span className="jss205"></span>
                    </li>
                    <li className="mega_menu hire_developers d-none" tabindex="-1" role="menuitem">
                        <a aria-haspopup="true" title="Hire Developers"
                            href="/hire-developers/hire-android-app-developers">Hire Developers <span
                                className="material-icons jss63 arrow_down"
                                aria-hidden="true">keyboard_arrow_down</span></a><span className="jss205"></span>
                    </li>
                    <li className="  mega_menu_short portfolios" tabindex="-1" role="menuitem"><a aria-haspopup="true"
                            title="Portfolios" href="/portfolios">Portfolios <span
                                className="material-icons jss63 arrow_down"
                                aria-hidden="true">keyboard_arrow_down</span></a><span className="jss205"></span></li>
                    <li className=" " tabindex="-1" role="menuitem"><a title="Careers" href="/careers">Careers</a><span
                            className="jss205"></span></li>
                    <li className="  company d-none" tabindex="-1" role="menuitem">
                        <a aria-haspopup="true" title="Company" href="/about-us">Company <span
                                className="material-icons jss63 arrow_down"
                                aria-hidden="true">keyboard_arrow_down</span></a><span className="jss205"></span>
                    </li>
                    <li className=" " tabindex="-1" role="menuitem"><a className="hover-btn-animation-out-old"
                            title="Contact Us" href="/contact-us">Contact
                            Us</a><span className="jss205"></span></li>
                </ul>
                <ul className="jss41 jss42 call_now_top" role="menu">
                    <li className=" " tabindex="0" role="menuitem">
                        <div className="first_number"><a href="tel:01724018666" title="+91 172 - 4018666"><span
                                    className="material-icons jss63" aria-hidden="true" title="Phone">phone</span> +91 172 -
                                4018666</a></div><span className="jss205"></span>
                    </li>
                    <li className=" " tabindex="-1" role="menuitem">
                        <div className="second_number"><a href="tel:01724028666" title="+91 172 - 4028666">+91 172 -
                                4028666</a></div><span className="jss205"></span>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>