/******Universal Style Start*******/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');


:root {
  --primary: #3B8AD2;
  --secondary: #3E7671;
  --tertiary: #51AFA7;
  --white: #ffffff;
  --text-color-dark: #333333;
  --bg-color1: #dce9e7;
  --bg-color2: #efefef;
}


html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

a {
  transition: all ease-in-out .3s;

  &:hover {
    color: var(--secondary);
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--text-color-dark);
  line-height: 1.5;
  overflow-x: hidden;
  @media (max-width: 1200px) {
    font-size: 15px;
  }

}

p {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
.fontInter{
  font-family: "Inter", sans-serif ;
}
// ================v-css===================
.form_input{
  width: 100%;
  padding: 10px 20px;
  background-color: #f3f9f8;
  color: #333333;
  border: 1px solid #d6dada;
  margin: 16px auto;
  font-size: 16px;
}
.contact_usInfo li{
  padding-bottom: 10px;
  list-style: none;
  display: flex;
  a, i{
    color: #2e8585;
    text-decoration: none;
  }
}
.portfolio_img_1{
  width: 100%;
  max-width: 520px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
// ========================================
