// Override Bootstrap variables
@import './mixins.scss';

// Import Bootstrap SCSS file from react-bootstrap
@import '~bootstrap/scss/bootstrap';


/**************Custom Style Start**********/




/******Custom Utility CSS Start*******/


.text {
  &-20 {
    font-size: 20px;

    @media (max-width: 1400px) {
      font-size: 18px;
    }

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }
}


.title {

  &-sm {
    font-size: 20px;
    letter-spacing: .5px;


    @media (max-width: 1200px) {
      font-size: 18px;
    }

  }

  &-md {
    font-size: 25px;
    letter-spacing: .5px;

    @media (max-width: 1200px) {
      font-size: 22px;
    }

    @media (max-width: 767.98px) {
      font-size: 20px;
    }
  }

  &-xl {
    font-size: 42px;
    letter-spacing: .5px;

    @media (max-width: 1400px) {
      font-size: 40px;
    }

    @media (max-width: 1200px) {
      font-size: 36px;
    }

    @media (max-width: 767.98px) {
      font-size: 28px;
    }

    @media (max-width: 576.98px) {
      font-size: 26px;
    }
  }

  &-xxl {
    font-size: 60px;

    @media (max-width: 1400px) {
      font-size: 55px;
    }

    @media (max-width: 1200px) {
      font-size: 50px;
    }

    @media (max-width: 767.98px) {
      font-size: 45px;
    }
  }
}


.bg-gray {
  background-color: var(--bg-color1);
}

.bg-gray2 {
  background-color: var(--bg-color2);
}

.dBtn {
  font-size: 16px;
  padding: 12px 25px;
  border: none;
  font-weight: 600;
  letter-spacing: .5px;
  transition: all 0.5s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  text-decoration: none;

  &.hasShadow {
    box-shadow: 2px 2px 10px 0px #00000050;
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.btnPrimary {

    border: 1px solid var(--primary);
    background: var(--primary);
    color: #fff;
    border-radius: 10px 0px 10px 0px;
    min-height: 56px;

    &:hover {
      background: #fff;
      color: var(--primary);
      border-radius: 0px 10px 0px 10px;
    }
  }

  &.btnSecondary {
    border: 1px solid var(--secondary);
    background: var(--secondary);
    color: #fff;
    border-radius: 10px 0px 10px 0px;
    min-height: 56px;

    &:hover {
      background: #fff;
      color: var(--secondary);
      border-radius: 0px 10px 0px 10px;
    }
  }

  &.btnBorder {
    background: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    border-radius: 10px 0px 10px 0px;
    min-height: 56px;

    &:hover {
      background: var(--secondary);
      color: #fff;
      border-radius: 0px 10px 0px 10px;
    }
  }

  &.btnText {
    background: transparent;
    padding: 0;
    min-width: auto;
    color: var(--secondary);

    &:hover {
      color: #000;
      letter-spacing: 1px;
    }
  }

  svg {
    font-size: 22px;
  }
}

.sectionPadding {
  padding: 100px 0px;

  @media (max-width: 1200px) {
    padding: 80px 0px;
  }
}

.sectionInfo {
  max-width: 800px;
  margin: 0 auto;
}

.section-title-sm {
  color: #2e8585;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border-width: 0px 0px 2px 0px;
  border-style: dashed;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;

  @media (max-width: 1200px) {
    font-size: 18px;
  }
}

.cardType1 {
  @include cardType1;
}

.cardType2 {
  @include cardType2;
}

.cardType3 {
  @include cardType1;

}


.cardIcon-Type1 {
  @include cardIcon-Type1;
}

.cardIcon-Type2 {
  @include cardIcon-Type2;
}


.cardIndexNumber {
  position: absolute;
  font-size: 80px;
  font-weight: 800;
  opacity: .2;
  color: var(--primary);
  right: 10px;
  top: 5px;
  min-width: 60px;
  line-height: 1;
}

.cardHoverEffect {
  &:hover {
    background-color: var(--secondary);
    color: #fff;

    .icon {
      &::before {
        background-color: var(--bg-color1);
      }

      img {
        filter: invert(1);
      }
    }

    .cardIndexNumber {
      color: #f5f5f5;
    }

    .title-md {
      color: #fff;
    }
  }
}

.green_text {
  color: #2e8585;
  font-weight: 600;
}

.hasShadow {
  box-shadow: 0px 0px 10px 0px #00000025;
}
.border_radius{
border-radius: 20px;
}

.green_pointer {
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    color: #2e8585
  }

  ;
}

/******Custom Utility CSS End*******/


/*****Inner Page Banner Css Start*****/

.innerBanner {
  padding: 250px 0px 100px;
  background-image: linear-gradient(180deg, #f5f5f5 0%, rgba(59, 137, 210, 0.4745098039) 100%);
  border-radius: 0px 0px 120px 120px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 15px 10px #00000025;

  @media (max-width: 1400px) {
    border-radius: 0px 0px 100px 100px;
  }

  @media (max-width: 991.98px) {
    padding: 200px 0px 100px;
    border-radius: 0px 0px 50px 50px;
  }

  @media (max-width: 767.98px) {
    padding: 180px 0px 80px;
    border-radius: 0px 0px 30px 30px;
  }

  &::before {
    content: "";
    background-image: url(./../Images/rocket.svg);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -35px;
    bottom: -35px;
    background-position: right bottom;
    filter: invert(1);

    @media (max-width: 991.98px) {
      width: 200px;
      height: 200px;
    }
  }
}

/***********Inner Page Banner Css Start************/

.postCard {
  @include postCard
}

.slick-slide {
  div {
    &:focus-visible {
      outline: none;
    }
  }
}

/*********************/

.fullWidthCTA {
  background-image: url(./../Images/call2Action2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .6;
  }
}

/***************/
.faqWrapper {
  grid-gap: 15px;
  display: grid;

  .faqWrap {
    position: relative;
    box-shadow: 0px 0px 3px 2px #00000015;
    border-radius: 5px;
    overflow: hidden;

    .title {
      padding: 15px 40px 15px 15px;
      cursor: pointer;
      transition: all ease-in-out .3s;
      position: relative;
      background-color: #fff;

      &:hover,
      &.active {
        background-color: var(--bg-color2);
      }

      .faqIcon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        color: var(--secondary);
      }
    }

    .description {
      padding: 15px;
    }
  }
}


/******Contact-us page css start*******/

.mapSection{
    line-height: 0;
    background-color: var(--bg-color2);
}

/******Contact-us page css end*******/

/******Portfolio page css start*******/
.portfolioWrapper,
.servicesWrapper {
  section {
    &:nth-child(even) {
      background-color: var(--bg-color2);

      .row {
        flex-direction: row-reverse;
      }
    }

    img {
      box-shadow: 0px 0px 10px 2px #00000025;
    }
  }
}

/******Portfolio page css end*******/

/**************/
.errorPage{
  background-image: linear-gradient(180deg, #f5f5f5, rgba(59, 137, 210, .475));
  padding: 200px 0px 80px;
  img{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  }
  
}
/**************/